[project]
name = "chapter-03-task"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastmcp>=2.14.1",
    "httpx>=0.28.1",
    "minsearch>=0.0.7",
]
